pytest==7.1.2
mlflow==1.27.0
tsfresh ==0.17.0
tensorflow==2.7.4
simaticai==1.5.0rc1
seaborn==0.12.2
# flake8-docstrings==1.6.0
# flake8==4.0.1
# pep8-naming==0.13.0
pytest-cov==3.0.0
pytest-azurepipelines==1.0.3
pytest-mock==3.7.0
azure-ai-ml==0.1.0b6
azure-identity==1.10.0
# mldesigner==0.1.0b4
# azure-keyvault ==4.2.0
# azure-keyvault-secrets ==4.7.0
